@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: black;
  background-color: white;
}

.page-header {
background-color: white;
color: black;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: black;
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.button-want {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: #756257;
  border-radius: 4px;
}

.main-index {
  color: black;
  background-color: white;
}

.sedona-logo {
  background-image: url("../images/index-bg.jpg");
  background-size: 100% auto;
}

.number-one {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: #83B3D3;
}

.adventages-description {
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

.housing {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  background-color: rgba(131, 179, 211,0.12)
}

.food {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  background-color: white;
}

.souvenirs {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  background-color: rgba(131, 179, 211,0.12)
}

.number-two {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: #83B3D3;
}

.number-three {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  background-color: rgba(131, 179, 211,0.12)
}

.number-four {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  background-color: rgba(131, 179, 211, 0.2)
}

.number-five {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  background-color: rgba(131, 179, 211,0.12)
}

.hotel {
  background-color: white;
}

.hotel-search-question {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.hotel-search-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.hotel-find {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: #756257;
  border-radius: 10px;
}

.mailing {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.mailing-description {
  font-size: 22px;
  line-height: 26px;
}

.email {
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  display: flex;
}

.button-sub {
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: #83B3D3;
  border-radius: 0px 10px 10px 0px;
}

.page-footer {
  background-color: white;
}

.number {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.hotel-filter-inner {
  text-transform: uppercase;
  color: white;
  background-color: black;
  background-image: url(../images/catalog-background\ 1\ \(1\).jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
  color: white;
}

.hotel-filter {
  font-size: 20px;
  line-height: 26px;
}

.hotel-filter-item {
  font-size: 18px;
  line-height: 23px;

}

.sedona-hotels {
  font-size: 18px;
  line-height: 23px;
  color: black;
  background-color: white;
}

.hotels-find {
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  text-transform: uppercase;
}

.hotel-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.hotel-card-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.more {
  background-color: #756257;
  border-radius: 4px;
}

.favorites {
  background-color: #83B3D3;
  border-radius: 4px;
}

.hotel-rating {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination-show-more {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: #83B3D3;
  border-radius: 4px;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: #83B3D3;
  border-radius: 4px;
}

.pagination-current {
  color: black;
  background-color: #F2F2F2;
}

.mailing-inner {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: black;
}
